{
    "database": {
        "host": "localhost",
        "username": "root",
        "password": "root",
        "port": 3306,
        "name": "-"
    },
    "realtime_lines": ["A", "B", "C", "D", "E", "H", "J", "K", "L", "M", "N", "P", "R", "U"]
}
